<div class="container-fluid">
  <mat-grid-list cols="5" rowHeight="1000px">
      <mat-grid-tile colspan="1">
          <div class="padding">
              <mat-list>
                  <mat-list-item class="body1"><b>Committees</b></mat-list-item>
                  <mat-list-item class="body">Governing Body</mat-list-item>
                  <mat-list-item class="body"> Anti Ragging Squad</mat-list-item>
                  <mat-list-item class="body1"><b>Anti Ragging Rules</b></mat-list-item>
                  <mat-list-item class="body">Ombudsman Committee </mat-list-item>
                  <mat-list-item class="body"> Women's Grievance Committee</mat-list-item>
                  <mat-list-item class="body"> Mandatory Disclosure</mat-list-item>

              </mat-list>
          </div>
      </mat-grid-tile>
      <div>
          <mat-grid-tile colspan="4">
              <div>
                  <div class="underline"> <b> Anti Ragging Squad </b></div>
                  <br>
                  <mat-card class="box"><br><br><br><br>
                      <h3><b>Display PDF here</b> (All Committee pages with same layout) </h3>
                      <h3>[when user add one committee pdf then its automatically add the link below of left side panel]</h3>

                  </mat-card>
              </div>
          </mat-grid-tile>
      </div>
  </mat-grid-list>
</div>