<div class="container-fluid">
  <mat-grid-list cols="5" rowHeight="1000px">
    <mat-grid-tile colspan="1">
      <div class="padding">
        <mat-list>
          <mat-list-item class="body1"><b>Faculty</b></mat-list-item>
          <mat-list-item class="body">Teaching </mat-list-item>
          <mat-list-item class="body"> Non Teaching</mat-list-item>

        </mat-list>
      </div>
    </mat-grid-tile>
    <div>
      <mat-grid-tile colspan="4">
        <div>
          <div class="underline"> <b> Teaching Faculty Information </b></div>
          <br>
          <mat-card class="box">
            <div class="row">
              <div class="column">
                <img src="../../../assets/Images/images.jpg" width="100" height="100">

              </div>
              <div class="column1">
                Name<br>
                Department<br>
                Qulifaction<br>
                Email-Id
              </div>
              <div class="column">
                Faculty Name [not mandatory]<br>
                Department Name [not mandatory]<br>
                Faculty Qualification [not mandatory]<br>
                E-mail id [not mandatory]
              </div>
            </div>

              <div class="row">
                <div class="column">
                  <img src="../../../assets/Images/images.jpg" width="100" height="100">

                </div>
                <div class="column1">
                  Name<br>
                  Department<br>
                  Qulifaction<br>
                  Email-Id
                </div>
                <div class="column">
                  Faculty Name [not mandatory]<br>
                  Department Name [not mandatory]<br>
                  Faculty Qualification [not mandatory]<br>
                  E-mail id [not mandatory]
                </div>
              </div>
          </mat-card>
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>