<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox>Check me!</mat-checkbox>

    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voicemail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

    

  </div>
 -->
 <div class="container-fluid">
   <div class="card">
    <header-app></header-app>
    <router-outlet></router-outlet> 
    <!-- <body-app></body-app> -->
    <footer-app></footer-app> 
    <!-- <about-app></about-app>  -->
    <!-- <result-app></result-app> -->
    <!-- <tandpcell-app></tandpcell-app> -->
    <!-- <resandpub-app></resandpub-app> -->
        <!-- <app-downloads></app-downloads> -->
        <!-- <committees-app></committees-app> -->
        <!-- <contact-app></contact-app> -->
        <!-- <evegal-app></evegal-app> -->
        <!-- <councils-app></councils-app> -->
        <!-- <councils-app></councils-app> -->
        <!-- <facility-app></facility-app> -->
        <!-- <faculty-app></faculty-app> -->
        <!-- <dep-app></dep-app> -->
        <!-- <admis-proc></admis-proc> -->
        <!-- <mand-disc></mand-disc> -->
        <!-- <saar-naac></saar-naac> -->
   </div>
 </div>

