.padding{
    padding-right:10px;
   
}
.padding1{
    padding-bottom: 145px;
    padding-right: 10.8in;
}

.mat-list{
    padding-bottom: 0.9in;
 
  
}
.underline{
    border-bottom: 3px solid goldenrod;
    
}
.paddingb{
    padding-bottom: 3in;
  
 
    
}
.underline1{
    border-bottom: 3px solid goldenrod;
}

.card{
   
    width: 12.2in;;
    height: 4.9in;
    margin-top: 5.4in;
    margin-left: -180px;

  }
  .card1{
   
    width:12.2in;
    height: 4in;
    margin-left: 341px;
}
.border{
    border:3px solid black;
    margin-left: 340px;
    margin-right: 36px;
}
 
 
