<div class="container-fluid">
        <mat-grid-list cols="5" rowHeight="1000px">
                <mat-grid-tile colspan="1">
                        <div class="padding">
                                <mat-list>
                                        <mat-list-item class="body1"><b>Councils</b></mat-list-item>
                                        <mat-list-item class="body">Student Council</mat-list-item>
                                        <mat-list-item class="body"> College Council</mat-list-item>

                                </mat-list>
                        </div>
                </mat-grid-tile>
                <div>
                        <mat-grid-tile colspan="4">
                                <div>
                                        <div class="underline"> <b>College Council</b></div>
                                        <br>
                                        <mat-card class="box">
                                                <div class="row">
                                                        <div>
                                                                <mat-list class="column">
                                                                        <mat-list-item><b>Sr. No.</b></mat-list-item>
                                                                        <mat-list-item>1</mat-list-item>
                                                                        <mat-list-item>2</mat-list-item>
                                                                        <mat-list-item>3</mat-list-item>
                                                                        <mat-list-item>4</mat-list-item>
                                                                        <mat-list-item>5</mat-list-item>

                                                                </mat-list>
                                                        </div>
                                                        <div class="column1">
                                                                <mat-list>
                                                                        <mat-list-item><b>Name Of Member</b></mat-list-item>
                                                                        <mat-list-item>Member Name Here</mat-list-item>
                                                                        <mat-list-item>Member Name Here</mat-list-item>
                                                                        <mat-list-item>Member Name Here</mat-list-item>
                                                                        <mat-list-item>Member Name Here</mat-list-item>
                                                                        <mat-list-item>Member Name Here</mat-list-item>

                                                                </mat-list>
                                                        </div>
                                                        <div class="column2">
                                                                <mat-list>
                                                                        <mat-list-item><b>Designation</b></mat-list-item>
                                                                        <mat-list-item>Desgination Here</mat-list-item>
                                                                        <mat-list-item>Desgination Here</mat-list-item>
                                                                        <mat-list-item>Desgination Here</mat-list-item>
                                                                        <mat-list-item>Desgination Here</mat-list-item>
                                                                        <mat-list-item>Desgination Here</mat-list-item>

                                                                </mat-list>
                                                        </div>


                                                </div>






                                        </mat-card>
                                </div>
                        </mat-grid-tile>
                </div>
        </mat-grid-list>
</div>