<div class="container-fluid">
    <mat-grid-list cols="5" rowHeight="400px" >
      <mat-grid-tile colspan="1">
            <div class="padding" >
              <mat-list>
                      <mat-list-item class="body1"><b>Department</b></mat-list-item>
                      <mat-list-item class="body">Event Gallery 1</mat-list-item>
                      <mat-list-item class="body">Event Gallery 2</mat-list-item>
                      <mat-list-item class="body">Event Gallery 3</mat-list-item>
                      <mat-list-item class="body">Event Gallery 4</mat-list-item>
                      <mat-list-item class="body">Event Gallery 5</mat-list-item>
                      <mat-list-item class="body">Event Gallery 6</mat-list-item>
              </mat-list>
                  </div>
      </mat-grid-tile>

      <div>
      <mat-grid-tile colspan="4">
            <div  >
                <div  class="underline"><b>Event Gallery</b></div>
                <br>
                    <mat-drawer-container class="box" rowHeight="3:1">
                            <mat-drawer-container class="box1"cols="2">
                                    <mat-drawer-container class="box2" colspan="1" >1</mat-drawer-container>
                                    <mat-drawer-container class="box2" colspan="1" >2</mat-drawer-container>
                                    
                            </mat-drawer-container>
                            
                    </mat-drawer-container>
                    </div>
      </mat-grid-tile>
  </div>
  </mat-grid-list>
</div>
